body {
   background-color: hsla(0,0%,100%,.3);
} 

#movie-background {
   background-image: url('../images/popcorn3.jpg');
   background-repeat: repeat-y;
   width: auto;
   height: auto;
   padding: 3em 0px 3em 0px;
} 

#back-btn {
   font-size: 18px;
   letter-spacing: 4px;
   left: 2em;
   top: 2em;
   position: absolute;
}

#nav-bar {
   margin: 3px 42px 3px 42px;
   font-size: 16px;
}