body {
   background-color: hsla(0,0%,100%,.3);
} 

#movie-background {
   background-image: url('../images/popcorn3.jpg');
   background-size: cover;
   width: auto;
   height: 1000px;
   padding-top: 3em;
}