body {
   background-color: hsla(0,0%,100%,.3);
   height: fit-content
} 

#movie-background {
   background-image: url('../images/popcorn3.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   overflow-y: scroll;
   padding: 0.75em 0px 3em 0px;
   width: 100%;
   height: 100vh;
} 

#back-btn {
   font-size: 18px;
   letter-spacing: 4px;
   left: 2em;
   top: 2em;
   position: absolute;
}

#nav-bar {
   margin: 3px 42px 3px 42px;
   font-size: 16px;
}

#loading-background {
   background-color: #152534;
   height: -webkit-fill-available;
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}


#loading-pic {
   width: 1000px
} 