#landing-page {
   width: 100%;
   height: auto;
   padding: 3em;
}

#landing-container {
   display: flex;
   padding: 3em;  
   flex-direction: column
}

#landing-header {
   font-size: 72px;
   text-align: center;
   font-family: 'Righteous', cursive;
}

#filter-container {
   display: flex;
   justify-content: space-around;
   margin-top: 2em;
   font-size: 20px;
}

#dropdown {
   font-size: 20px;
}

#card-content {
   padding: 8px;
   text-align: center;
   font-size: 15px;
   padding-bottom: 10px
}

#movie-card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 