#landing-page {
   /* background-image: url('../images/popcorn3.jpg'); */
   /* background-size: cover;
   background-repeat: no-repeat; */
   width: 100%;
   height: auto;
   padding: 3em;
   /* display: flex;
   justify-content: center;
   align-items: center */
   background-color: cornflowerblue;
}

#landing-container {
   display: flex;
   padding: 3em;  
   flex-direction: column
}

#landing-header {
   font-size: 72px;
   text-align: center;
   font-family: 'Righteous', cursive;
}

#filter-container {
   display: flex;
   justify-content: space-around;
   margin-top: 2em;
   font-size: 20px;
}

#dropdown {
   font-size: 20px;
}

