#movie-pg-container {
   display: flex;
   padding: 3em;  
   flex-direction: column;
   width: fit-content;
   justify-content: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color:white
}

#movie-pg-header {
   display: flex;
   flex-direction: column;
   width: fit-content
}

#movie-title-header {
   font-size: 72px;
   text-align: left;
   font-family: 'Righteous', cursive;
}

#sub-header {
   margin-bottom: 0;
   margin-top: 0;
   text-align: left;
   font-size: 20px;
   font-style: italic
} 

#movie-pg-body {
   display: flex;
   margin-top: 1.5em;
} 

#movie-stuff {
   font-size: 18px;
   display: flex;
   flex-direction: column
} 

/* #movie-poster {
   width: 802px;
   margin-right: 3em
} */

b {
   font-size: 25px
} 

/* #sources-container {

}  */

#source-icon {
	width: 100px;
	height: 100px;
	overflow: hidden;
}