#movie-pg-container {
   display: flex;
   padding: 3em 6em 3em 6em;
   flex-direction: column;
   width: min-content;
   justify-content: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color:white;
   height: min-content;
}

#movie-pg-header {
   display: flex;
   flex-direction: column;
   width: fit-content
}

#movie-title-header {
   font-size: 72px;
   text-align: left;
   font-family: 'Righteous', cursive;
   width: max-content;
}

#sub-header {
   margin-bottom: 0;
   margin-top: 0;
   text-align: left;
   font-size: 20px;
   font-style: italic
} 

#movie-pg-body {
   display: flex;
   margin-top: 1.5em;
   padding-bottom: 5em;
} 

#movie-stuff {
   font-size: 18px;
   display: flex;
   flex-direction: column
} 

#movie-poster {
   display: flex;
   justify-content: center
}

b {
   font-size: 25px
} 

#sources-container {
   display: flex;
   justify-content: space-around;
} 

#source-icon {
	width: 70px;
   height: 70px;
   overflow: hidden;
   margin: 0px 8px 0px 8px;
} 

#icon-image {
   width: inherit;
   height: inherit
}

#cast-container {
   display:flex;
   flex-direction: column;
}

#cast-cards {
   padding-top: 0px
}