#open-page {
   background-image: url('../images/popcorn3.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   min-height: 800px;
}

.title {
   font-size: 75px;
   color: #1b1c1d;
   font-family: 'Righteous', cursive;
   margin-bottom: 10px;
}

#title2 {
   color: red
}

input {
   text-align: center;
   font-size: 20px
}

#login {
   margin-top: 13%;
   margin-left: 38%;
   width: 280px;
}

#signup {
   margin-top: 13%;
   margin-left: 36%;
   width: 295px;
}

.ui.button.submit-btn {
   font-size: 18px;
   letter-spacing: 4px;
}

#back-btn {
   font-size: 18px;
   letter-spacing: 4px;
   left: 2em;
   top: 2em;
   position: absolute;
}

#buttons {
   margin-top: 15%;
}

#login-btn, #signup-btn {
   font-size: 20px;
   letter-spacing: 5px;
   margin-left: 8px;
   margin-right: 8px
}